<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="com.thinkit.mapper.TestMapper">

    <select id="selectMember" resultType="TestVO"> <!-- resultType = com.thinkit.vo.TestVO -->
        SELECT id
        	  ,name
        	  ,age 
        FROM tbl_test
    </select>

</mapper>